@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  
  }

header {
    height: 5%;
    background-color: white;
    background-size: cover;
    padding-top: 1%;
    padding-left: 4%;
    padding-bottom: 1%;
}

.main-header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 0.4rem;
}

.logo {
    width: 500px;
}

.barra {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin-left: -100%;
    transition: all 0.2s linear;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.botones {
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    width: 70%;

    align-items: center;
    justify-content: flex-start;
    font-size: 15pt;
    padding-top: 1%;
    padding-right: 5%;
}

.C1 {
    margin-left: 35px;
    color: #ababab;
    text-decoration: none;
}
.C2 {
    margin-left: 35px;
    background-color: #2DCCFD;
    text-decoration: none;
    color:white;
}

.button-menu {
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button-menu span {
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #444444;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all 0.2s linear;
}

.button-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);

    background: #ababab;
}

.button-menu.close span:nth-child(2) {
    transform: rotate(-45deg) translate(-8px, 5px);
}

.button-menu.close span:nth-child(3) {
    display: none;
}

/*ESTO NO SE QUE ES*/
.main-logo {
    color: black;
    font-size: 32px;
    text-decoration: none;
}

/* ESTO NO SE QUE ES */
.barra.show {
    margin-left: 0;
}

/* ESTO NO SE QUE ES */
.link-item {
    margin-top: 2rem;
    color: #444444;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

/* ESTO NO SE QUE ES */
.link-item::after {
    position: absolute;
    content: "";
    background-color: black;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    transition: 0.3s ease all;
}

/* ESTO NO SE QUE ES */
.link-item:hover::after {
    width: 100%;
}

.banner {
    display: flexbox;
    position: relative;
}

.banner h1 {
    position: absolute;
    top: 35%;
    left: 25%;
    right: 30%;
    color: white;
    flex-wrap: wrap;
    font-size: 120%;
    justify-content: flex-start;
    text-align: center;
}

/* ESTO NO SE QUE ES */
.ft-title {
    color: white;
    font-family: ’Merriweather’, serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}

/* ESTO NO SE QUE ES */
.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}

/* ESTO NO SE QUE ES */
.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
}

@media screen and (min-width: 768px) {
    .ft-main {
        justify-content: space-around;
      }

    .banner h1 {
        top: 45%;
        left: 40%;
    }

    .button-menu {
        display: none;
    }

    .logo {
        flex-basis: 30%;
    }

    .barra {
        position: static;
        margin-left: 0;
        flex-basis: 70%;
        height: 100%;
    }

    .botones {
        width: 150%;

        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        background: white;

    }

    .C1 {
        margin-left: 35px;
        color: #ababab;
        text-decoration: none;
        font-size: small;
        text-align: center;
    }

    .link-item {
        display: inline-block;
        margin-top: 0;
        margin-right: 2rem;
    }

}

/* PARA ESCRITORIO!!*/

@media screen and (min-width: 1024px) {
    .banner h1 {
        position: absolute;
        top: 45%;
        left: 40%;
        color: white;
        font-size: 300%;
    }

    .botones {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        background: white;
    }

    .C1 {
        margin-left: 35px;
        color: #ababab;
        text-decoration: none;
        font-size: large;
    }

    .ft-main {
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 1200px) {
    .main-header{
        height: 150px;
    }
}