@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url(header.css);
@import url(footer.css);

.banner h1 {
    position: absolute;
    top: 50%;
    left: 30%;
    right: 25%;
    color: white;
    flex-wrap: wrap;
    font-size: 120%;
    justify-content: flex-start;
    text-align: center;
}

.acerca {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1% 5%;
    line-height: 200%;
    align-items: center;
    height: 100%;
}


.noticias {
    display: flex;
    flex-wrap: wrap;
    order: 1;
    width: 70%;
    margin-left: 20%;
    margin-bottom: 2%;
    justify-items: center;
}

.acerca h2{
    color: #8DD5F2;
  text-align: center;
  margin-bottom: 5px;
}

.card {
    height: 25%;
    width: 18rem;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

.box {
    display: flex;
    flex-direction: column;
    margin: 5% 0%;
}

.container-1 {
    
    position: relative;
  width: 20px;
}

.container-1 input#search {
    width: 200px;
    height: 50px;
    background: white;
    border: 1 px solid #262626;
    font-size: 10pt;
    float: left;
    color: #262626;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
    margin-bottom: 10%;
}

.container-1 input#search::-webkit-input-placeholder {
    color: #65737e;
}

.container-2 {
    color: #8DD5F2;
    text-align: center;
}

.boton-leer {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #8dd5f2;
    color: #fff;
    font-size: 1em;
  }
.boton-suscribir {
    background: #8DD5F2;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    padding: 1% 5%;
    margin-bottom: 5%;
  }

/* BOTON CONFIRMACION DE VENTANA DE ALERTA PERSONALIZADA */
.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #8dd5f2;
    color: #fff;
    font-size: 1em;
  }

  .container-1 {
   
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    margin-left: 22%;
    margin-bottom: 13%;
}

.container-1 .icon {
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
}


@media screen and (min-width: 768px) {
    .acerca {
        height: 100%;
        align-items: center;
    }

    .noticias {
        justify-content: space-around;
    }
  

    .box {
        display: inline-flexbox;
    }

    .container-1 {
        
        vertical-align: middle;
        white-space: nowrap;
        position: relative;
    }

    .container-1 .icon {
        position: absolute;
        top: 50%;
        margin-left: 17px;
        margin-top: 17px;
        z-index: 1;
        color: #4f5b66;
    }
}

/* BOTON CONFIRMACION DE VENTANA DE ALERTA PERSONALIZADA */
.swal2-styled.swal2-confirm {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #8dd5f2;
  color: #fff;
  font-size: 1em;
}
@media screen and (min-width: 1024px) {
    .noticias {
        display: flex;
        flex-wrap: wrap;
        order: 2;
        width: 70%;
        margin-left: 2%;
        margin-bottom: 2%;
    }

    .card {
        height: 25%;
        display: flex;
        flex-direction: column;
        margin-right: 5%;
        justify-content: space-evenly;
        margin-bottom: 5%;
    }

    p.card-text {
        display: flex;
        text-align: start;
    }


    .todo {
        display: flex;
        margin-top: 10%;
        flex-direction: row-reverse;
    }

    .box {
        display: inline-flexbox;
    }

    .container-1 {
        width: 300px;
        vertical-align: middle;
        white-space: nowrap;
        position: relative;
    }

    .container-1 input#search { 
        padding-left: 45px;
    }

    .container-1 input#search::-webkit-input-placeholder {
        color: #65737e;
    }

    .container-1 input#search:-moz-placeholder {
        /* Firefox 18- */
        color: #65737e;
    }

    .container-1 input#search::-moz-placeholder {
        /* Firefox 19+ */
        color: #65737e;
    }

    .container-1 input#search:-ms-input-placeholder {
        color: #65737e;
    }

    .container-1 .icon {
        position: absolute;
        top: 60%;
        margin-left: 17px;
        margin-top: 25px;
        z-index: 1;
        color: #4f5b66;
    }

    .container-1 input#search:hover,
    .container-1 input#search:focus,
    .container-1 input#search:active {
        outline: none;
        background: white;
    }

    .container-2 {
        color: #8DD5F2;
        margin-top: 50%;

    }
    .input {
        box-sizing: border-box;
        color: #191919;
        padding: 15px 15px 15px 35px;
        width: 90%;
      }
    .input-icon {
        color: #191919;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
      }

      .banner h1 {
        position: absolute;
        top: 45%;
        left: 30%;
        right: 30%;
        color: white;
        flex-wrap: wrap;
        font-size: 400%;
        justify-content: flex-start;
        text-align: center;
    }

}