@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url(header.css);
@import url(footer.css);


.acerca {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1% 5%;
    line-height: 200%;
    align-items: center;
    height: 100%;
}


.noticias {
    display: flex;
    flex-wrap: wrap;
    order: 1;
    width: 70%;
    margin-left: 20%;
    margin-bottom: 2%;
    justify-items: center;

}

.card {
    height: 25%;
    width: 18rem;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

.box {
    display: flex;
    flex-direction: column;
    margin: 5% 0%;
}

.container-1 {
    display: flex;
    justify-content: center;
}

.container-1 input#search {
    width: 200px;
    height: 50px;
    background: white;
    border: 1 px solid #262626;
    font-size: 10pt;
    float: left;
    color: #262626;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
    margin-bottom: 10%;
}

.container-1 input#search::-webkit-input-placeholder {
    color: #65737e;
}

.container-2 {
    color: #8DD5F2;
    text-align: center;
}







@media screen and (min-width: 768px) {
    .acerca {
        height: 100%;
        align-items: center;
    }

    .noticias {
        justify-content: space-around;
    }
  

    .box {
        display: inline-flexbox;
    }

    .container-1 {
        
        vertical-align: middle;
        white-space: nowrap;
        position: relative;
    }

    .container-1 .icon {
        position: absolute;
        top: 50%;
        margin-left: 17px;
        margin-top: 17px;
        z-index: 1;
        color: #4f5b66;
    }
}


@media screen and (min-width: 1024px) {
    .noticias {
        display: flex;
        flex-wrap: wrap;
        order: 2;
        width: 70%;
        margin-left: 2%;
        margin-bottom: 2%;
    }

    .card {
        height: 25%;
        display: flex;
        flex-direction: column;
        margin-right: 5%;
        justify-content: space-evenly;
        margin-bottom: 5%;
    }

    p.card-text {
        display: flex;
        text-align: start;
    }


    .todo {
        display: flex;
        margin-top: 10%;
        flex-direction: row-reverse;
    }

    .box {
        display: inline-flexbox;
    }

    .container-1 {
        width: 300px;
        vertical-align: middle;
        white-space: nowrap;
        position: relative;
    }

    .container-1 input#search { 
        padding-left: 45px;
    }

    .container-1 input#search::-webkit-input-placeholder {
        color: #65737e;
    }

    .container-1 input#search:-moz-placeholder {
        /* Firefox 18- */
        color: #65737e;
    }

    .container-1 input#search::-moz-placeholder {
        /* Firefox 19+ */
        color: #65737e;
    }

    .container-1 input#search:-ms-input-placeholder {
        color: #65737e;
    }

    .container-1 .icon {
        position: absolute;
        top: 60%;
        margin-left: 17px;
        margin-top: 25px;
        z-index: 1;
        color: #4f5b66;
    }

    .container-1 input#search:hover,
    .container-1 input#search:focus,
    .container-1 input#search:active {
        outline: none;
        background: white;
    }

    .container-2 {
        color: #8DD5F2;
        margin-top: 50%;

    }

}